# Server Environment Variables
PORT=5000
MONGODB_URI=mongodb+srv://omdarade1944_db_user:<db_password>@cluster0.yvzj94n.mongodb.net/mini-dmart?retryWrites=true&w=majority
JWT_SECRET=minidmart_jwt_super_secret_key_2026
NODE_ENV=development

# Client Environment Variables (for Vercel deployment)
# VITE_API_URL=https://mini-dmart-backend.onrender.com/api
