# Server Environment Variables
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/mini-dmart
JWT_SECRET=minidmart_jwt_super_secret_key_2026
NODE_ENV=development

# Client Environment Variables (for production deployment)
# VITE_API_URL=https://mini-dmart-api.onrender.com/api
